# Table of Contents
01 Importing Libraries

02 Merge

02 4.6 Task

2 Export the merged file in pickle format as “orders_products_combined.pkl”.

# 01 Importing Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\heidi\Desktop\Instacart Basket Analysis 01-09-2022'

In [3]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.4.5.csv'), index_col = False)

In [4]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [5]:
# check df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
# check the shape
df_ords_prior.shape

(32434489, 4)

In [7]:
df_ords.shape

(3421083, 9)

# 02 Merge

In [8]:
# merge df_ords and df_ords_prior on order_id
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [9]:
df_merged_large.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,0.0,26405,5,0,both

In [10]:
# to check for merge values: both, left, or right
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# 02 4.6 Task

## 2 Export the merged file in pickle format as “orders_products_combined.pkl”.

In [12]:
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))